<div id="menu" class="ui menu inverted no-print">
  <%= link_to "Главная", root_path, class: 'item' %>
  <%= link_to "Личная страница", patient_path, class: 'item' if can? :manage, Patient %>
  <%= link_to "Карточка", card_path, class: 'item' if can? :read, Card %>
  <%= link_to "Расписание", show_timetable_path, class: 'item' if can? :read, DoctorTimetable %>
  <% if current_user %>
      <%= link_to "Принять внепланового пациента", get_form_unplanned_patient_path, class: 'item' if current_user.is? 'doctor' %>
  <% end %>
  <div class="right menu">
    <% if current_user %>
        <%= link_to "Выход (#{current_user.login})", log_out_path, class: 'item' %>
    <% else %>
        <%= link_to "Войти", log_in_path, class: 'item' %>
    <% end %>
  </div>
</div>
